*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div.input-field-container {
    display: flex;
    flex-direction: column;
    row-gap: 0;    

    /* min-height: 50px; */
    width: 100%;
}

.input-label {
    font-size: 13px;
    color: black;
    margin-bottom: 2px;
}
input {
    width: 100%;
    background: transparent;
    outline: none;

    padding: 4px;
    
    border: 2px solid gray !important;
    border-radius: 12px !important;  
    margin-bottom: 4px;
}
input[class*=" invalid-"] {
    border: 2px solid red !important;
}
input[class*=" valid-"] {
    border: 2px solid green !important;
}
.error-field {
    min-height: 12px;
    font-size: 12px;
    color: red;
    margin: 0;    
}